* {
  box-sizing: border-box;
  font-family: 'Montserrat', Helvetica, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
  text-wrap: pretty;
}

body {
  margin: 0;
  display: block;
  margin: auto;
  max-width: 1920px;

  font-family: 'Montserrat', Helvetica, sans-serif;
  font-size: 2.5rem;
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 0;
}
